@use "sass:math";

.#{$prefix} {
    position: relative;
    height: 400px;

    &--ratio {
        width: 100%;
        height: 0;
    }

    &--16by9 {
        padding-bottom: math.div(100%, 16) * 9;
    }

    &--3by2 {
        padding-bottom: math.div(100%, 3) * 2;
    }

    &--4by3 {
        padding-bottom: math.div(100%, 4) * 3;
    }

    &--1by1 {
        padding-bottom: 100%;
    }

    iframe {
        position: absolute;
        top: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.#{$prefix} {
    &__stage {
        // container for all
        position: absolute;
        font-size: 15px;
        line-height: 1.3;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__interface {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 18em;
        transform: translate(-50%, -50%);
        padding: 0.5em;
        border-radius: 0.25em;
        text-align: center;
        hyphens: auto;
    }

    &__title {
        font-weight: bold;
    }

    &__info {
        font-size: 80%;
        text-align: left;
        margin-top: 0.75em;
    }

    &__privacy-link {
        font-size: 70%;
        margin-top: 0.75em;
    }

    &__privacy-link__anchor {
        font-weight: bold;
        text-decoration: underline;
    }

    &__button {
        display: inline-block;
        font-weight: bold;
        margin: 0.75em 0 0 0;
        padding: 0.75em 1em;
        border-radius: 0.25em;
        appearance: none;
        border: none;
        outline: none;
        cursor: pointer;
        
        &:focus {
            outline: none;
        }
    }
}
